::-webkit-scrollbar {
  width: 0.2px;
  height: 1px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #31363F;
  border-radius: 10px;
}


.css-1xc3v61-indicatorContainer {
  padding: 2px;
}

.css-1wbuvf5-control {
  min-height: 0px;
}

/* important to change the date picker color */

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}