/* src/components/PlayFillLoader.css */
.play-fill-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #000407;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.loader-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.loader-circle {
  fill: none;
  stroke: #e1251a;
  stroke-width: 5;
  stroke-dasharray: 282.743; /* Circumference of the circle (2 * Ï€ * r) */
  stroke-dashoffset: 282.743;
  animation: fill 1s linear infinite;
}

.triangle {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 35px solid #e1251a;
  transform: translate(-50%, -50%) rotate(90deg);
}

@keyframes fill {
  0% {
    stroke-dashoffset: 282.743;
  }
  20% {
    stroke-dashoffset: 226.194;
  }
  40% {
    stroke-dashoffset: 169.646;
  }
  60% {
    stroke-dashoffset: 113.097;
  }
  80% {
    stroke-dashoffset: 56.549;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
