.toprated {
    display: flex;
    flex-direction: column;
    .carouselSection {
        display: flex;
        position: relative;
        margin-bottom: 70px;
        justify-content: center;
        gap: 10px;
        & > .carouselTitle {
            font-size: 24px;
            color: white;
            font-weight: normal;
        }
    }
    .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .homeTitle {
        color: white;
    }
}
h1 {
    color: white;
    margin-bottom: 30px;
    font-weight: 600;
    padding-left: 200px;
}
.movieSlider {
    display: flex;
    justify-content: center;
    gap: 15px;
}