// SignUpPage.scss
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5b9;
}

.sign-up-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-up-container {
    background-color: #f5f5f5d5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.sign-up-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #fdb85e;
    outline: none;
}

.sign-up-button {
    background-color: #fdb85e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up-button:hover {
    background-color: #e0a14b;
}

p {
    margin-top: 10px;
    font-size: smaller;
    cursor: pointer;
}